* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    font-family        : 'Montserrat', sans-serif;
    background         : url('../img/img1.jpg');
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
    width              : 100%;
    min-height         : 100vh;
    font-size          : 14px;
    display            : flex;
    justify-content    : center;
    align-items        : center;
    color              : #fff;
}

body::after {
    content         : "";
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.page-content {
    z-index        : 1;
    position       : relative;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

p.title {
    margin-bottom : 32px;
    text-transform: uppercase;
    font-size     : 4em;
    letter-spacing: 1px;
    font-weight   : bold;
}

p.sub-title {
    font-size     : 1.5em;
    letter-spacing: 0.5px;
    margin-bottom : 48px;
}

.counter-list-container {
    width          : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-wrap      : wrap;
    margin-bottom  : 48px;
}

.counter-item {
    border         : 1px solid rgba(255, 255, 255, 0.4);
    border-radius  : 50%;
    width          : 130px;
    height         : 130px;
    margin-right   : 40px;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
}

.counter-item:last-child {
    margin-right: 0;
}

.time-number {
    font-size    : 2.5em;
    margin-bottom: 4px;
}

.time-unit {
    text-transform: uppercase;
    letter-spacing: 0.3px;
    font-size     : 0.8em;
    color         : #57b846;
}

.subscribe {
    width          : 100%;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.subscribe input,
.subscribe button {
    border       : none;
    outline      : none;
    padding      : 20px 32px;
    border-radius: 32px;
    margin       : 16px;
}

.subscribe input {
    flex     : 1;
    color    : #3f9c2f;
    font-size: 1.3em;
}

.subscribe button {
    text-transform  : uppercase;
    letter-spacing  : 0.2px;
    font-weight     : bold;
    background-color: #57b846;
    color           : #fff;
    cursor          : pointer;
    transition      : background-color 0.3s;
}

.subscribe button:hover {
    background-color: #57b846d9;
}